<div class="container">
  <div class="alert alert-success alert-dismissible" *ngIf="this.message!=null && this.message!='' ">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ this.message }}</strong> 
  </div>
    <div class="col-6 mt-4 mb-4 Register">
        <h4>Register Page</h4>
        <hr/>

        <!-- Form -->

        <form [formGroup]="userGroup" (ngSubmit)="register()">
            <!-- UserName -->
          <div class="form-group">
                <label for="UserName">UserName</label>
                <input type="text" formControlName="UserName" class="form-control" id="UserName" placeholder="Your Full Name"
                [ngClass]="{'is-invalid':!this.userGroup.get('UserName').valid && this.userGroup.get('UserName').touched}">
              
                <div class="invalid-feedback" *ngIf="!this.userGroup.get('UserName').valid && this.userGroup.get('UserName').touched">
                  The Name is Required
                </div>
                <div class="text-danger" *ngIf="this.isUserNameExist(this.userGroup.value.UserName)">
                  The Name is Exist!!!
                </div>
            </div>


            <!-- Email address -->


            <div class="form-group">
              <label for="Email">Email address</label>
              <input type="email" formControlName="Email" class="form-control" id="Email" aria-describedby="emailHelp"placeholder="Email:"
              [ngClass]="{'is-invalid':this.userGroup.get('Email').invalid && this.userGroup.get('Email').touched }">
              
              <div *ngIf="this.userGroup.get('Email').invalid && this.userGroup.get('Email').touched" class="invalid-feedback">
                <div *ngIf="this.userGroup.get('Email').errors.required">The Email is required</div>
                <div *ngIf="this.userGroup.get('Email').errors.email">Email must be  a valid email address</div>
              </div>
              <div class="text-danger" *ngIf="this.isEmailExist(this.userGroup.value.Email)">
                The Email  is Exist !!!
              </div>
            </div>



            <!-- Password -->

            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password"formControlName="Password" class="form-control" id="Password" placeholder="Password:"  
              [ngClass]="{'is-invalid':this.userGroup.get('Password').invalid && this.userGroup.get('Password').touched }">

              <div class="invalid-feedback" *ngIf="this.userGroup.get('Password').invalid && this.userGroup.get('Password').touched">
                <div *ngIf="this.userGroup.get('Password').errors.required">The Password is required</div>
                <div *ngIf="this.userGroup.get('Password').errors.minlength">Password must be at leastet 6 characters  </div>
              </div>
            </div>

            <!-- ConfirmPassword -->
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="ConfirmPassword" formControlName="ConfirmPassword" placeholder="ConfirmPassword:"
                [ngClass]="{'is-invalid':this.userGroup.get('ConfirmPassword').invalid && this.userGroup.get('ConfirmPassword').touched }"> 

                <div *ngIf="this.userGroup.get('ConfirmPassword').invalid && this.userGroup.get('ConfirmPassword').touched " class="invalid-feedback">
                  <div *ngIf="this.userGroup.get('ConfirmPassword').errors.required">Password is required.</div>
                </div>
                <div *ngIf="isPasswordMatch()" class="text-danger" >Password and Confirm Password must be match.</div>
            </div>

            <!-- Country -->
            <div class="form-group">
                <label for="Country">Country</label>
                <input type="text"  formControlName="Country" class="form-control" id="Country" placeholder="Your Country"
                [ngClass]="{'is-invalid':this.userGroup.get('Country').invalid && this.userGroup.get('Country').touched }">

                <div *ngIf="this.userGroup.get('Country').invalid && this.userGroup.get('Country').touched " class="invalid-feedback">
                  <div *ngIf="this.userGroup.get('Country').errors.pattern">Your Country name is error </div>
                  <div *ngIf="this.userGroup.get('Country').errors.required">The Country is required</div></div>
            </div>

            <!-- Phone -->
              <div class="form-group">
                <label for="Phone">Phone</label>
                <input type="tel" formControlName="Phone" class="form-control" id="Phone" placeholder="Your Phone Number" 
                [ngClass]="{'is-invalid':this.userGroup.get('Phone').invalid && this.userGroup.get('Phone').touched }">

                <div *ngIf="this.userGroup.get('Phone').invalid && this.userGroup.get('Phone').touched " class="invalid-feedback">
                  <div *ngIf="this.userGroup.get('Phone').errors.pattern">Your phone number has error Add Country Code ex:+961.</div>
                  <div *ngIf="this.userGroup.get('Phone').errors.required">The Phone is required</div>
                </div>
              </div>

              <!-- submit -->
            <div class="row"> 
                <button type="submit" class="btn btn-primary col-2 ml-3" [disabled]="userGroup.invalid ||isPasswordMatch()|| this.isEmailExist(this.userGroup.value.Email)||this.isUserNameExist(this.userGroup.value.UserName)">Register</button>
                <div class="btn-login col-6 mt-2">Do you hava account?<a href="Login" class=""> Login</a></div>
            </div>  
          </form>
    </div>  
  </div>
