<div class="container">
    <div class="alert alert-success alert-dismissible" *ngIf="this.message!=null && this.message!='' ">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{ this.message }}</strong> 
    </div>
        <div class="col-6 mt-4 mb-4 ">
            <h4>Forget Password Page</h4>
            <hr/>
    
            <!-- Form -->
    
            <form [formGroup]="userGroup" (ngSubmit)="RequestPassword()">
                <!-- Email address -->
                <div class="form-group">
                  <label for="Email">Email address</label>
                  <input type="email" formControlName="Email" class="form-control" id="Email" aria-describedby="emailHelp"placeholder="Email:"
                  [ngClass]="{'is-invalid':this.userGroup.get('Email').invalid && this.userGroup.get('Email').touched }">
                  
                  <div *ngIf="this.userGroup.get('Email').invalid && this.userGroup.get('Email').touched" class="invalid-feedback">
                    <div *ngIf="this.userGroup.get('Email').errors.required">{{ this.messageValidet.email.required }}</div>
                    <div *ngIf="this.userGroup.get('Email').errors.email">{{ this.messageValidet.email.emailvalid }}</div>
                  </div>
                </div>
                  <!-- submit -->
                <div class="row"> 
                    <button type="submit" class="btn btn-primary col-2 ml-3" [disabled]="userGroup.invalid ">Send</button>
                </div>  
              </form>
        </div>  
      </div>
    
  
